# Mac OS X Finder
.DS_Store

# Private Keys
*.pem

# Xcode legacy
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser


# Xcode
xcuserdata/
/*.xcworkspace/
DerivedData/
/Packages
# /*.xcodeproj
xcuserdata/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# build products
build/
/.build
*.[oa]

# Cocoapods
Pods/
Podfile.lock

# Environment variables
.env.default

# Fastlane
/fastlane/builds
/fastlane/screenshots
/fastlane/metadata
/fastlane/report.xml
